<h2>To view all your issues, go to duetoday.heroku.com/[your github username].</h2>
<h3>Example: <a href="/adelevie">duetoday.heroku.com/adelevie</a>.</h3>

<br />
<h2>To view issues from just one repo, go to duetoday.heroku.com/repo/[your github username]/[repo name].</h2>
<h3>Example: <a href="/repo/adelevie/civpro">duetoday.heroku.com/repo/adelevie/civpro</a>.</h3>
