<div class="hero-unit">
	
	<h1>GitHub Milestones for humans.</h1>

		<br />

		<h3>1. Create Milestones with due dates</h3>
		<h3>2. Create Issues and add them to your Milestones</h3>
		<h3>3. View Issues for all repos by visiting <a href="/adelevie">duetoday.heroku.com/[github username]</a> or view Issues from a single repo by visiting <a href="/repo/adelevie/civpro">duetoday.heroku.com/repo/[github username]/[repo name]</a>.</h3>

	<br />
	
<a href="http://imgur.com/XU6XH"><img src="http://i.imgur.com/XU6XH.png" alt="" title="Hosted by imgur.com" /></a>

</div>
