<html>
  <head>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  </head>
  <body>
	<div class="topbar">
	      <div class="fill">
	        <div class="container">
	          <a class="brand" href="/">Due Today</a>
	        </div>
	      </div>
	    </div>

	    <div class="container">

	      <!-- Main hero unit for a primary marketing message or call to action -->
	      <div class="hero-unit">
			<%= yield %>
	      </div>

	    </div> <!-- /container -->

  </body>
</html>

